div.container {
    /* size for mobile */
    min-height: 80vh;

    /* easier development */
    border-style: dotted;

    /* theme */
    background-color: lightblue;

    /* center buttons */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

div.separator {
    text-align: center;
}